################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppMatrix/obj
/AppMatrix/bin/Debug/net6.0
